fastapi[standard]
pydantic-settings
sqlalchemy
sqlmodel
alembic
psycopg2-binary
asyncpg
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pyjwt
pandas
numpy
openpyxl
reportlab
pypdf
pillow
requests
supabase
sentry-sdk
